@import url('https://fonts.googleapis.com/css?family=Bangers');

.nav-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
  overflow: hidden;
  z-index: 10;
  background-color: #52d8e0;
}

.nav-bar li {
  vertical-align: top;
  display: inline;
  padding: 5px;
  float: left;
  width: 25%;
  font-family: 'Bangers';
}

.nav-bar li:last-child {
  border-right: none;
  float: right;
}

.nav-link {
  font-size: 25px;
}

.nav-link:hover {
  transition: 0.2s;
  transition-timing-function: ease;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.nav-link.active {
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 510px) {
  .nav-link {
    font-size: 15px;
  }
}
