.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

nav {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.nav-link:hover {
  font-weight: bold;
}

.nav-link.active {
  font-weight: bold;
}
